.validation-enabled.form:invalid button[type="submit"] {
  opacity: 0.4;
  pointer-events: none;
}

.validation-enabled input:invalid,
.validation-enabled textarea:invalid{
  border: 2px solid rgba(206, 23, 23, 0.726);
}

.error {
  display: none;
  color: red;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: rgba(206, 23, 23, 0.342);
}

.validation-enabled input:invalid + .error,
.validation-enabled textarea:invalid + .error{
  display: block;
}
